/* jetbrains-mono-latin-wght-normal */
@font-face {
  font-family: 'JetBrains Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 600 800;
  src: url(@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

article.card {
  border-radius: 0.5rem;
}

.expressive-code > figure > pre {
  border-radius: 0.5rem;
}

.starlight-aside {
  border-radius: 0.5rem;
}

/* Index hero background */
@media (min-width: 50rem) {
  .hero {
    padding-block: clamp(2.5rem, calc(1rem + 10vmin), 5rem);
  }
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  opacity: 0.7;
  overflow: hidden;
  background: linear-gradient(-90deg, var(--sl-color-gray-6) 1px, transparent 1px),
    linear-gradient(var(--sl-color-gray-6) 1px, transparent 1px),
    linear-gradient(-90deg, var(--sl-color-gray-6) 1px, transparent 1px),
    linear-gradient(var(--sl-color-gray-6) 1px, transparent 1px),
    linear-gradient(transparent 6px, transparent 6px, transparent 156px, transparent 156px),
    linear-gradient(-90deg, var(--sl-color-gray-6) 1px, transparent 1px),
    linear-gradient(-90deg, transparent 6px, transparent 6px, transparent 156px, transparent 156px),
    linear-gradient(var(--sl-color-gray-6) 1px, transparent 1px), transparent;
  background-size:
    32px 32px,
    32px 32px,
    256px 256px,
    256px 256px,
    256px 256px,
    256px 256px,
    256px 256px,
    256px 256px;
}

/* Transition hero background grid smoothly to page background color. */
.hero-bg::after {
  content: '';
  position: absolute;
  inset: 70% 0 0;
  background: linear-gradient(transparent, var(--sl-color-bg));
}

/* Logo on index page */
.hero > img {
  animation: 3s intro;
  opacity: 1;
}

.sl-markdown-content .inline-icon {
  display: inline-block;
}

@keyframes intro {
  0% {
    scale: 1.4;
    opacity: 0;
  }

  80% {
    scale: 0.9;
    opacity: 0.8
  }

  100% {
  }
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}