name: Check docs

on:
    pull_request:
        branches:
            - main
        paths:
            - docs/**

jobs:
    test-deploy:
        name: Test deployment
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: yarn

            - name: Install dependencies
              run: yarn install

            - name: Build website
              run: yarn workspace docs build
